
body{
    display: flex;
    justify-content: center;
}

.plan-panel{
    width: 30em;
    min-height: 20em;
    border: 1px solid #eee;
    
    box-shadow: 4px 6px 6px #888;
    margin-top: 5em;


}

.plan-editor {
    padding: 5px 20px;
    display: flex;
}

.plan-editor input {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 2px 5px;
}