
body{
    display: flex;
    justify-content: center;
}

.plan-panel{
    width: 30em;
    min-height: 20em;
    border: 1px solid #eee;
    box-shadow: 4px 6px 6px #888;
    margin-top: 5em;
}

.plan-editor {
    padding: 5px 20px;
    display: flex;
}

.plan-editor input {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 2px 5px;
}

.plan-items {
    padding: 5px 20px;
}

.plan-items > .task {
    display: flex;
    align-items: center;
}

.plan-items > .task:hover {
    background-color: rgb(235, 235, 235);
}

.plan-items > .task > input {
    width: 1.5em;
    height: 1.3em;
}

.plan-items > .task > label {
    flex-grow: 1;
}

.plan-items .ctrlbar {
    display: flex;
    align-items: center;
}

.plan-items .ctrlbar > button {
    border: none;
    background: none;
    cursor: pointer;
}



.plan-items .ctrlbar > button:disabled {
    color: gray;
    cursor: unset;
}

.plan-items .ctrlbar > button:disabled:hover {
    font-weight: unset;
    color: gray;
    background-color: unset;
}



.plan-items .ctrlbar > button:hover {
    font-weight: bolder;
    color: white;
    background-color: tomato;
}

.task.done > label {
    text-decoration: line-through;
}